html {
    min-height: 100%;
    background-color: #474e5d;
    border-left: lightblue dashed thick;
    border-right: lightblue dashed thick;
}
.bg-1 {
    background-color: #1abc9c;
    color: #ffffff;
}
.bg-2 {
    background-color: #474e5d;
    color: #ffffff;
}
.bg-3 {
    background-color: #ffffff;
    color: #555555;
}
.container-fluid {
    margin-bottom: 0;
}
.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
   color: black;
}
#connect {
    font-size: 30px;
    color:black;
    padding: 25px;
    margin: 15px;
}

.list-item {
    display: block;
    border: 1px solid #ddd;
}

#black-card{
    font-family: "Whitney Cond A", "Whitney Cond B", "Lato", "Lucida Grande", "Lucida Sans Unicode", Tahoma, Sans-Serif;
    font-weight: 700;
    font-size: 4rem;
}

.white-card:hover{
    color: #5fca7f;
}

.selected{
    color: #E7F063;
}

#selectButton{
    visibility: hidden;
}

#players {
    border-radius: 5px;
    width: auto;
    margin: 0px auto;
    float: none;
}

#cards, #answers {
    float: left;
}

#cards li, #answers li {
    margin: 15px;
    padding:15px;
    background-color: white;
    color: black;
    border-radius: 10px;
    box-shadow: 2px 2px gray;
    width: 200px;
    height: 300px;
    cursor: pointer;
    display: inline-table;
}
#cards li:hover, #answers li:hover {
    background-color: #ccffba;
}

#cards li .txtmsg, #black-card .txtmsg, #answers .txtmsg {
    vertical-align: middle;
    display:table-cell;
    font-size: 20px;
}

#black-card {
    float:left;
    margin: 15px;
    padding:15px;
    width: 200px;
    height: 300px;
    background-color: black;
    border-radius: 10px;
    display: inline-table;
}

#selectButton {
    display:block;
    margin: 0 auto;
}